.trilho {
    padding: 40px 0 40px 40px;
    color: #ffffff;
    transition: .4s ease-in-out;
}

.trilho h5 {
    font-size: 20px;
    margin-bottom: 20px;
}

.trilho h1 {
    font-size: 50px;
    margin-bottom: 200px;
}
.carousel {
    display: flex;
    overflow-x: hidden;
    position: relative;
}

.play {
    border: 5px solid #ffffff;
    min-width: 340px;
    display: flex;
    height: 190px;
    list-style-type: none;
    transition: .4s ease-in-out;
    position: absolute;
}

.play-icon {
    color: #ffffff;
    font-size: 50px;
    margin: auto;
}

.slide {
    min-width: 350px;
    height: 200px;
    background-size: 100% 100%;
    list-style-type: none;
    box-shadow: inset 0px 0px 300px -105px rgba(0,0,0,0.75);
    margin-right: 20px;
}

.slide .item-content {
    font-weight: 700;
    font-size: 18px;
    margin: 140px 0 0 20px;
}

.slide .item-content h5 {
    color: rgba(0,0,0,0.25);
    margin-bottom: 2px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.display-none {
    display: none;
}