.destaque{
    color: #A09FA4;
    width: 100%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.destaque img {
    width: 300px;
}

.destaque h3 {
    font-size: 2em;
    letter-spacing: 0.5px;
    width: 605px;
    line-height: 40px;
    margin: 40px 0;
    font-weight: 400;
}

.destaque-buttons button{
    background-color: transparent;
    border: 2px solid #A09FA4;
    border-radius: 5px;
    color: #A09FA4;
    font-size: 1.5em;
    padding: 10px 30px;
    margin-right: 10px;
    transition: .3s ease-in-out;
}

.destaque-buttons button .destaque-icon {
    font-size: 16px;
    margin-right: 10px;
    margin-bottom: 2.5px;
}

.destaque-buttons button.selected {
    color: #514f50;
    border: 2px solid #ffffff;
    background-color: #ffffff;
    font-weight: bold;
    padding: 15px 30px;
}

.trilhoFocused {
    display: none;
}